main {
    max-width: 1200px;
    margin: 0 auto;
}


section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.map {
    width: 900px;
}

iframe {
    width: 900px;
}

.parking, .bus {
    width: 889px;
    min-height: 540px;
    margin: auto;
    background-color: white;
    box-shadow: 5px 5px 0px 2px #ADE2E6;
    border-radius: 10px;
    margin: 150px 50px;
    padding: 50px;
}
.parking ul, .bus ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h2 {
    margin: 0px 0px 50px;
}

h3 {
    width: 200px;
    padding: 0;
    margin: 22px 0px;
}

p {
    width: 660px;
    padding: 0px 0px 30px;
    right: 0;
    left: 0;
    margin: auto
}

.google,
.parking,
.bus {
    position: relative;
}

.decoration {
    position: absolute;
    bottom: -40px;
    right: -60px;
}

.google .decoration {
    left: -80px;
}


.waterfall{
    display: grid;
    grid-template-columns: 248px 248px 60px 120px 43px 156px 291px;
    grid-template-rows: 330px 217px 130px 165px;
    grid-gap: 3px 3px;
    justify-items: center;
    align-items: center;
    margin-bottom: 150px;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 3;
  }
.item2{
    grid-column-start: 3;
    grid-column-end:6;
  }
.item3{
    grid-column-start: 6;
    grid-column-end: 8;
  }
.item4{
    grid-row-start:2;
    grid-row-end: 4;  
}
.item5{
    grid-column-start:2;
    grid-column-end: 4;
}
.item6{
    grid-column-start:4;
    grid-column-end: 7;  
}
.item7{
    grid-row-start:2;
    grid-row-end: 5;  
}
.item9{
    grid-column-start:2;
    grid-column-end: 5;  
    grid-row-start:3;
    grid-row-end: 5; 
}
.item10{
    grid-column-start:5;
    grid-column-end: 7;  
    grid-row-start:3;
    grid-row-end: 5; 
}