main {

    max-width: 1200px;
    margin: 15% auto;
}


section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map {
    width: 75%;
}

.google-group {
    width: 80%;
}

.google {
    display: block;
    position: relative;
    height: 0;
    overflow: hidden;
    padding: 0;
    padding-bottom: 56.25%;
}

iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.parking,
.bus {
    width: 74%;
    margin: auto;
    background-color: white;
    box-shadow: 5px 5px 0px 2px #ADE2E6;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 12.5% 4.2%;
    padding: 10%;
    padding-bottom: 20%;
}

.parking ul,
.bus ul {
    padding: 0;
    display: flex;
    flex-direction: column;

}


h2 {
    margin: 0px 0px 5%;
    text-align: center;
}

h3 {
    padding: 0;
    margin: 3% 0px;
}

p {
    padding: 0px 0px 30px;
    right: 0;
    left: 0;
    margin: auto
}

.google-group,
.parking,
.bus {
    position: relative;
}

.decoration {
    width: 30%;
    position: absolute;
    bottom: 3%;
    right: -5%;
}

.bus-img {
    width: 48%;
}

.google-group .decoration {
    bottom: -5%;
    left: -6.6%;
}


.waterfall {
    display: grid;
    grid-template-columns: 248px 248px 60px 120px 43px 156px 291px;
    grid-template-rows: 330px 217px 130px 165px;
    grid-gap: 3px 3px;
    justify-items: center;
    align-items: center;
    margin-bottom: 30px;
}

.waterfall-content {
    width: 98%;
    overflow-x: scroll;
}

[class*="item-"] {
    position: relative;
}

.item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.item-2 {
    grid-column-start: 3;
    grid-column-end: 6;
}

.item-3 {
    grid-column-start: 6;
    grid-column-end: 8;
}

.item-4 {
    grid-row-start: 2;
    grid-row-end: 4;
}

.item-5 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.item-6 {
    grid-column-start: 4;
    grid-column-end: 7;
}

.item-7 {
    grid-row-start: 2;
    grid-row-end: 5;
}

.item-9 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}

.item-10 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
}

.info {
    opacity: 0;
    position: absolute;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .3);
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20%;
}

.view-name {
    margin: 0;
    font-size: 20px;
    color: #fff;
}

.info button {
    cursor: pointer;
    margin: 0 auto;
}

.info:hover {
    -webkit-transition: 500ms;
    opacity: 1;
}

.more-item {
    width: 30%;
    height: 30%;
    background-color: white;
    box-shadow: 5px 5px 0px 2px #ADE2E6;
    border-radius: 10px;
    padding: 5%;
    position: fixed;
    left: 30%;
    top: 30%;
    z-index: 1;
    overflow: auto;
    display: none;
}

.more-inf img {
    display: inline;
    width: 200px;
    height: 200px;
    margin: 0 3% 3% 0;
    float: left;
}

.more-inf p {
    padding: 10px;
}

.image-container {
    float: left;
    width: 200px;
    height: 200px;
    margin: 0 3% 3% 0;
}

.text-container{ 
    /* width: calc(50% - 206px); */
     /* 50% - width of image and margin */
    padding: 10px;
}

.close {
    color: gray;
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 2rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


@media screen and (min-width: 480px) {}


@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {
    main {
        margin-top: 5%
    }
}