main {
    max-width: 1200px;
    margin: 10% auto 10% auto;
}

section {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}


 section a{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 28px;
    margin: 10px auto;
    letter-spacing: 2px;
    border-radius: 18px;
    border: 1px solid #000;
    background-color: transparent;
}


section a:hover {
    color: white;
    background-color: #985E3F;
    border: 1px solid #985E3F;
}

:root {
    --gap: 10px;
}

.diy-container {
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: var(--gap);
    padding-right: var(--gap);

}

.diy-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: calc(var(--gap) * -1);
    margin-right: calc(var(--gap) * -1);

}

[class*="col-"] {
    padding: 0 var(--gap);
    box-sizing: border-box;
}

.card-diy {
    text-align: center;
    margin-bottom: 10%;
}

.diy-img{
    width: 100%;
    border-radius: 20px;
}

h3 {
    margin: 15px 0px 10px;

}

.card-diy p {
    margin: 0;
    display: flex;
    flex-direction:column;
}


.camp-container {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: var(--gap);
    padding-right: var(--gap);

}

.camp-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: calc(var(--gap) * -1);
    margin-right: calc(var(--gap) * -1);
}

.camp-card {
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: column;
    margin:0 auto;
    margin-bottom: 10px;
    align-items: center;
}

h2 {
    
    margin: 0px 8px 0px 0px;
}

.title p {
    margin-bottom: 0;
}

.camp-inf {
    width: 80%;
    margin: 0 auto;
    background: #D8E4ED;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 3%;
    padding-bottom: 10%;
    margin-bottom: 25%;
}
.camp-text{
    width: 100%;
}


.camp-inf-specil{
    justify-content: center;
    margin-bottom: 0px;
    padding: 0px;
    background: transparent;
} 
.title-specil{
    justify-content: center;
    margin-bottom:30px;
    padding:0px;
}   



.camp-inf a {
    margin: 50px 10% 50px auto;
    /* 點我預約 */
}

.feat-price{
    width: 210px;
    display: flex;
    justify-content: space-between;
}

.item {
    width: 80%;
    margin: 5% auto;
}

.item span {
    font-size:1.22rem;
}

.item p {
    margin: 0px;
}

hr {
    margin: 15px auto;
    width: 80%;
}
.item-price{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between; 
}

.camp-img { 
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-camp{

        width: 100%;
}
[class*="dec-"] {
    position: absolute;
}

.dec-farm01 {
    width:23%;
    top: -11%;
    right: -9%;
    transform: rotate(180deg)
}

.dec-farm02 {
    width:23%;
    bottom: -13%;
    left: -10%;
}

.dec-garden {
    width: 38.5%;
    bottom: 0px;
    right: -3.4%;
}

.dec-camp {
    width: 49%;
    top: -11.67%;
    left: -8.33%;
}

.dec-play{
    width: 40%;
    bottom: -10%;
    left: -20%;
}


.slideshow{
    margin: 5% 0;
    width:90%;
    min-height: 110px;
    overflow: hidden;
    position: relative;
}
.slider-container {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    position: absolute;
    top: 0; 
}
.small-list{
    list-style: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}
.img-small{
    width: 150px;
    margin: 5px;
}

.menu-group { 
    width: 80%;
    display: flex;
    flex-direction: column;
    
}
.menu-img{
    position: relative;
}
.menu{
    width: 100%;
}
.dec-price {
    width: 28%;
    top: -13%;
    right: -12.5%;
}

.dec-menu {
    width: 28%;
    bottom:-9%;
    left: -8.3%;
}

.menu-group a {
    margin: 50px 0px 50px auto;

}


@media screen and (min-width: 480px){
    .slideshow{
        min-height: 168px;
    }
    
    .img-small{
        width: 230px;
    }
}


@media screen and (min-width: 720px){
    .card-diy p {
        display: flex;
        flex-direction:row;
        justify-content: center;
    }
    .card-diy span{
        margin: 0 2%;
    }
    .title {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .title p {
        margin-top: 0.7rem;
    }
    .item {
        width: 325px;
    }
    hr {
        width: 100%;
    }

    
}

@media screen and (min-width: 1024px){
    section a{
        width: 147px;
        height: 30px;
    }

    main {
        margin-top: 5%
    }
    .card-diy {
        margin-bottom: 0;
    }
    .title{
        margin:0;
        margin-bottom: 10px;
        padding-left: 5%
    }
    .rectangle {
        width: 49%;
        height: 100%;
        background: #D8E4ED;
        position: absolute;
        transform: translateX(-99%);
        top: 0;
        z-index: -1;
    }
    .camp-card {
        justify-content:flex-start;
    }
    
    .camp-inf {
        width: 100%;
        flex-direction: row-reverse;
        padding-right: 15%;
    }
    .camp-inf a {
        margin-right:0;

    }

    .slideshow{
        margin:0;
    }
    .animal-experience-group{
        display: flex;
        flex-direction: row;
    }
    .animal-play {
        order: 0; /* 設定順序為1，將其放在後面 */
    }
    
    .animal-experience {
        order: 1; /* 設定順序為2，將其放在後面 */
    }
    
    .slideshow {
        order: 2; /* 設定順序為0，將其放在最前面 */
    }

}
