section {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}


 section a{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 147px;
    height: 30px;
    margin: 10px auto;
    letter-spacing: 2px;
    border-radius: 18px;
    border: 1px solid #000;
    background-color: transparent;
}


section a:hover {
    color: white;
    background-color: #985E3F;
    border: 1px solid #985E3F;
}

:root {
    --gap: 10px;
}

.diy-container {
    width: 1200px;
    margin: 0 auto;
    padding-left: var(--gap);
    padding-right: var(--gap);

}

.diy-group {
    display: flex;
    align-items: center;
    margin-left: calc(var(--gap) * -1);
    margin-right: calc(var(--gap) * -1);

}

[class*="col-"] {
    padding: 0 var(--gap);
    box-sizing: border-box;
}

.card-diy {
    text-align: center;
}

.card-diy img {
    border-radius: 20px;
}

h3 {
    margin: 15px 0px 10px;

}

.card-diy p {
    margin: 0;
}



:root {
    --gapfarm: 100px;
}

.camp-container {
    width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: var(--gap);
    padding-right: var(--gap);

}

.camp-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: calc(var(--gap) * -1);
    margin-right: calc(var(--gap) * -1);
}

.camp-card {
    margin-top: 60px;
}

.title {
    display: flex;
    margin-bottom: 10px;
    padding-left: 10%
}

h2 {
    margin: 0px 8px 0px 0px;
}

.title p {
    margin-bottom: 0;
}

.camp-inf {
    width: 100%;
    background: #D8E4ED;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
    padding-top: 30px;
    padding-right: 15%;
    padding-bottom: 30%;
    margin-bottom: 150px;
}

section:nth-child(2) .camp-container:nth-of-type(4) .camp-inf{
    justify-content: center;
    margin-bottom: 0px;
    padding: 0px;
    background: transparent;
} 
section:nth-child(2) .camp-container:nth-of-type(4) .title{
    justify-content: center;
    margin-bottom:30px;
    padding:0px;
}   
section:nth-child(2) .camp-container:nth-of-type(4) .camp-inf{
    justify-content: center;
    margin-bottom: 0px;
    padding: 0px;
    background: transparent;
} 


.camp-inf a {
    float: right;
    margin: 50px 0;
}

.rectangle {
    width: 48%;
    height: 100%;
    background: #D8E4ED;
    position: absolute;
    transform: translateX(-100%);
    top: 0;
    z-index: -1;
}

.feat-price{
    width: 210px;
    display: flex;
    justify-content: space-between;
}

.item {
    width: 325px;
}

.item span {
    font-size: 22px;
}

.item p {
    margin: 0px;
}

hr {
    margin: 15px 0;
    width: 324px;
}
.item-price{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between; 
}

.camp-img {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

[class*="dec-"] {
    position: absolute;
}

.dec-farm01 {
    top: -60px;
    right: -40px;
    transform: rotate(180deg)
}

.dec-farm02 {
    bottom: -60px;
    left: -50px;
}

.dec-garden {
    bottom: 0px;
    right: -20px;
}

.dec-camp {
    top: -70px;
    left: -50px;
}

.dec-play{
    bottom: -60px;
    left: -100px;
}
.slideshow{
    display: flex;
    overflow:hidden;
}

.img-small{
    width: 230px;
    margin: 5px;
}

.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}

.dec-price {
    top: -160px;
    right: -150px;
}

.dec-menu {
    bottom: 80px;
    left: -100px;
}

.menu a {
    margin: 50px 0px 50px auto;

}