main{
    margin: 15% 0;
}

:root {
    --gap: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: var(--gap);
    padding-right: var(--gap);
}

.row-form,.row-logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-left: calc(var(--gap) * -1);
    margin-right: calc(var(--gap) * -1);
}


.me-profile{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5%;
}

.logo{
    width: 31%;
}

.me-name{
    margin: 1.1rem 0;
    font-size:2.2rem;
    
}
.me-price{
    margin: 1.1rem 0;
    font-size:1.7rem;
}

.me-menu{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    padding: 1rem;
    gap: 0.5rem;
    margin-bottom: 5%;
}
.me-menu-item{
    width: 90px;
    height: 60px;
    padding: 8px;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    text-align: center;
    background-color: #D8E4ED;
}

.me-menu-item i{
    font-size:1.67rem;
}

.me-page-form{
    max-width: 1200px;
    margin: 0 10%;
    background-color: #D8E4ED;
    border-radius: 5px;
    padding: 30px 0 10% 0; 
    position: relative; 
}
.dec{
    width: 20%;
    position: absolute;
    right: 0;
    bottom: -3%;
}

.me-page-title{
    text-align: center;
    font-size: 1.55rem;
    font-weight: bold;
}
.form-group{
    cursor: pointer;
    margin: 2.22rem;
}
.required-field{
    font-size: 1.33rem;
    margin: 5px 0;
}
.form-item{
height: 3.5rem;
padding: 0 20px;
border-radius: 15px;
background: #FFF;
color: #9F9F9F;
display: flex;
align-items: center;
justify-content: space-between;
}





@media screen and (min-width: 460px){
    .me-menu{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
    }
}


@media screen and (min-width: 768px){

}

@media screen and (min-width: 1024px){
    .dec{
        width: 13%;
    }
    main{
        margin: 10% 0;
    }
    .me-page-form{
        margin: 0 auto;
    }
}

