@font-face {
    font-family:NaikaiFont;
    src: url(NaikaiFont-Bold.ttf) format("opentype");
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: #E4EFF3;  
    background-image: url(../back-ground.png);
    background-repeat:no-repeat ;
    background-size: 100%;
}

h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 100px;
    line-height: 100px;
    margin: 150px 0px 100px;
}
h1 div::before{
        content:'-';
        color: black;
    }
h1 div::after{
        content:'-';
        color: black;
    }
h1 span {
    color: #985E3F;
    font-family: NaikaiFont;
    font-size: 30px;
    line-height: 30px;
    padding-left:60px;
    display: inline-block;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 22px;
}
p{
    font-size: 16px;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.8px;
    display:inline-block;
}
